body {
font-family: "EB Garamond";
background-image: url(raw_background.jpeg);
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed; 
background-position: bottom;
background-color: #464646;
}

h1 {
font-family: "Playfair Display";
font-size:  30px;
color: #002E63; 
font-weight: 900;
}

h2 {
font-family: "Playfair Display";
color: #002E63; 
font-weight: bold;
}

#logo {
float: top;
width: 25%;
border: 20px;
border-radius: 25px;
opacity: 1;
margin: 25px;
margin-left: 50px;
}

a {
display: block;
color: #000;
font-style: normal;
text-decoration:  none;
position: relative;
left: 5%;
width: 95%;
height: 30px;
}

a:hover {
background-color: #002E63; 
color: white;
height: 50px;
left: 0%;
width: 100%;
text-align: center;
font-weight: bold;
transition: 0.6s all;
}

#menu {
padding-top: 10px;
padding-bottom: 10px;
margin: 10px;
float: left;
width: 25%;
background-color: #FAF9F6;
opacity: 0.9;
border: 0px;
border-radius: 25px;
}

#calculatorContent {
float: left;
background-color: #FAF9F6;
margin: 10px;
width: 35%;
border: 20px solid #FAF9F6;
border-top: 1px solid #FAF9F6;
border-bottom: 1px solid #FAF9F6;
border-radius: 25px;
opacity: 0.9;
}

footer {
float: right;
margin-top: 100px;
color: #002E63; 
font-weight: bold;
}